#textarea {
  min-width: 100px;
  min-height: 30px;
  word-break: break-all;
  cursor: text;
  border: 1px solid rgb(204, 200, 200);
}
#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
.pencil{
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.b1 {
  margin-right: 15px;
}
label{
  font-size: 18px;
}

@media only screen and (max-width: 400px) {
  label{
      font-size: 10px;
  }
  .here {
      font-size: 10px;
  }
  img {
    height: 20px;
  }
}
