
<div class="w3-container w3-padding-16">
  <h5 class="w3-black w3-padding">Restaurant Log:</h5>
  <div class="w3-card-4 w3-padding " style="margin-top: -10px" >
    <div class="w3-container w3-padding w3-border" style="margin: 10px">
      <!-- Single Assignment Log -->
      <div class="row">
        <div class="col-md-4">
          <label>Pick Up Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Delivery Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Order Details</label>
          <table class="table">
            <tr>
              <th>Quantity</th>
              <td>10</td>
            </tr>
            <tr>
              <th>Veg</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Non-Veg</th>
              <td>5</td>
            </tr>
          </table>
        </div>
        <!-- <div class="col-md-3 w3-padding">
          <div class="row">
            -- <div class="col-md-12">
              <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
              &nbsp;
              <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
              &nbsp;
              <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
            </div> -
          </div>
        </div> -->
      </div>
      <!-- End Of Assignment Log -->
    </div>

    <div class="w3-container w3-padding w3-border" style="margin: 10px">
      <!-- Single Assignment Log -->
      <div class="row">
        <div class="col-md-4">
          <label>Pick Up Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Delivery Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Order Details</label>
          <table class="table">
            <tr>
              <th>Quantity</th>
              <td>10</td>
            </tr>
            <tr>
              <th>Veg</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Non-Veg</th>
              <td>5</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 w3-padding">
          <div class="row">
            <div class="col-md-12">
              <!-- <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
              &nbsp;
              <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
              &nbsp;
              <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- End Of Assignment Log -->
    </div>

    <div class="w3-container w3-padding w3-border" style="margin: 10px">
      <!-- Single Assignment Log -->
      <div class="row">
        <div class="col-md-4">
          <label>Pick Up Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Delivery Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Order Details</label>
          <table class="table">
            <tr>
              <th>Quantity</th>
              <td>10</td>
            </tr>
            <tr>
              <th>Veg</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Non-Veg</th>
              <td>5</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 w3-padding">
          <div class="row">
            <!-- <div class="col-md-12">
              <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
              &nbsp;
              <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
              &nbsp;
              <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- End Of Assignment Log -->
    </div>

    <div class="w3-container w3-padding w3-border" style="margin: 10px">
      <!-- Single Assignment Log -->
      <div class="row">
        <div class="col-md-4">
          <label>Pick Up Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Delivery Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Order Details</label>
          <table class="table">
            <tr>
              <th>Quantity</th>
              <td>10</td>
            </tr>
            <tr>
              <th>Veg</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Non-Veg</th>
              <td>5</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 w3-padding">
          <div class="row">
            <!-- <div class="col-md-12">
              <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
              &nbsp;
              <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
              &nbsp;
              <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- End Of Assignment Log -->
    </div>

    <div class="w3-container w3-padding w3-border" style="margin: 10px">
      <!-- Single Assignment Log -->
      <div class="row">
        <div class="col-md-4">
          <label>Pick Up Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Delivery Address</label>
          <br />
          #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
          <br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <label>Order Details</label>
          <table class="table">
            <tr>
              <th>Quantity</th>
              <td>10</td>
            </tr>
            <tr>
              <th>Veg</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Non-Veg</th>
              <td>5</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3 w3-padding">
          <div class="row">
            <!-- <div class="col-md-12">
              <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
              &nbsp;
              <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
              &nbsp;
              <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- End Of Assignment Log -->
    </div>
  </div>
</div>