<footer class="bg-dark footer">
  <div class="container w3-padding-32">
    <div class="row">
      <div class="col-lg-4 col-md-4 w3-text-white">
          <label><b class="w3-text-yellow" >Address</b></label>
          <br/>
          Koramangala Bangalore<br/>
          560034<br/><br/>
          <!-- <label><b class="w3-text-yellow" >About Us</b></label><br/> -->
          <!-- Koramangala Bangalore<br/>
          560034        -->
      </div>
      <div class="col-lg-4 col-md-4 w3-text-white">
        <label>
            <i class="fa fa-phone w3-text-yellow" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;
          <b class="w3-text-yellow" >Contact Us</b>
        </label><br/>
          +91-9860110332 +91-7741098444<br/><br/>
        <label>
            <i class="fa fa-envelope w3-text-yellow" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;
          <b class="w3-text-yellow">Emails</b></label>
          <br/>
          feedol@gmail.com, wastagereduction@gmail.com
        <br/>
      </div>
      <div class="col-lg-4 col-md-4 w3-text-white footer">
        <br/>
        <ul>
          <li><a href="https://www.facebook.com" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a></li>
          <li><a href="https://twitter.com/" class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a></li>
          <li><a href="https://in.linkedin.com" class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a></li>
          <a href="https://www.instagram.com" class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </ul>
        <h6 class="white-text">Copyright ©2019 All rights reserved</h6>
      </div>
    </div>
  </div>
</footer>