/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
} 
/* The slider */
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

/* Rounded sliders */
 .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.hd{
  font-size: 60px;
  text-shadow: 1px 1px gray;
  font-weight: bold;
}
.hdSub{
  text-shadow: 1px 1px gray;
} */
/*
Ratings Stars
(with as little code as possible)
*/
/* .rating {
unicode-bidi: bidi-override;
direction: rtl;
font-size: 30px; */
/* text-align: center; */
/* }
.rating > span {
display: inline-block;
position: relative;
width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
 content: "\2605";
 position: absolute;
 left: 0; 
 color: gold;
}
*/



body { padding: 100px; }



.rating {
float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
follow these rules. Every browser that supports :checked also supports :not(), so
it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  /* padding:0 .1em; */
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:300%;
  /* line-height:1.2; */
  color:#ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: gold;
  
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color:gold;
  
}

.rating > label:active {
  /* position:relative; */
  top:2px;
  left:2px;
}
.modal-header, .modal-footer {
  background: #FFC107;
}

.modal-body {
  background: #FFC107;
  font-size: 20px;
}
.lbl{
  font-size: 22px;
}

@media only screen and (max-width: 400px) {
  .hd{
      font-size: 40px;
  }
  .w3-display-middle{
      padding-bottom: 100px;
  }
}